body {
    background-image: url("../img/background.png");
 }

#myCanvas {
    border: 1px solid black;
    position: absolute;
    align-items: center;
    margin-top: 150px;
    margin-left: 250px;
    background-color: #15273b;
}